.titulo {
    background-color: antiquewhite;
    font-size: x-large;
}

#nombre{
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
}

div.descripcion p {
    border: silver double 5px;
    text-align: center;
    font-size: large;
}

em{
    letter-spacing: 3px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}